xml/woodstox/src/test/resources/xsd/simple.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

    <xs:element name="root">
        <xs:complexType>
            <xs:sequence>
                <!-- child element must appear exactly once and have simple string content -->
                <xs:element name="child" type="xs:string" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
            <xs:attribute name="a" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>

</xs:schema>
